.nightMode{
    color: white;
    background-color: #37383C;
}

.nightGifosArea{
    color: white;
    background-color: #222326;
}

.nightFont{
    color: white;
}

.nightBurguer{
    background-image: url(../images/burger-modo-noct.svg);
}

.nightClose{
    background-image: url(../images/close-modo-noct.svg);
}

.nightLogo{
    background-image: url(../images/logo-mobile-modo-noct.svg);
}

.nightSearch{
    background-image: url(../images/icon-search-modo-noct.svg);
}

.nightSearchControl{
    border: solid #ffffff 1px;
}